div
    div.markdown-wrapper
        :markdown-it(linkify)
            ## hz-tabs
            hz-tabs is an haztivity resource wrapper for [jquery ui tabs](https://jqueryui.com/tabs/)
            ### Usage
            1. Import @haztivity/hz-tabs
            2. Add the HzTabsResource to the page
            3. Set data-hz-resource to the tabs wrapper
            4. Add the tabs as you like.
            ### Simple use
            #### template
            ##### Pug
            ```jade
            div(data-hz-resource="HzTabs")
                ul
                    li
                        a(href='#tabs-1') Tab 1
                    li
                        a(href='#tabs-2') Tab 2
                div#tabs-1
                    p Tab 1 content
                div#tabs-2
                    p Tab 2 content
            ```
            or
            ##### HTML
            ```xml
            <div data-hz-resource="HzTabs>
                <ul>
                    <li>
                        <a href="#tabs-1">Tab 1</a>
                    </li>
                    <li>
                        <a href="#tabs-2">Tab 2</a>
                    </li>
                </ul>
                <div id="tabs-1">Tab 1 content</div>
                <div id="tabs-2">Tab 2 content</div>
            </div>
            ```
            #### page.ts
            ```typescript
            import {PageFactory, Page, PageController, PageRegister} from "@haztivity/core";
            import template from "./page.pug";
            import {HzTabsResource} from "@haztivity/hz-tabs";
            export let page: PageRegister = PageFactory.createPage(
                {
                    name: "6611",
                    resources: [
                        HzTabsResource
                    ],
                    template: template
                }
            );
            ```
        div(data-hz-resource="HzTabs")
            ul
                li
                    a(href='#tabs-1') Tab 1
                li
                    a(href='#tabs-2') Tab 2
            div#tabs-1
                p Tab 1 content
            div#tabs-2
                p Tab 2 content

        :markdown-it(linkify)
            ### Options
            All the options of tabs excepts functions could be specified by attributes using:
            ```jade
                data-opt-tabs-[option]=[value]
            ```
            If the option have multiple words, use dashes, for example `heightStyle` will be height-style

            For example:
            ```jade
            div(data-hz-resource="HzTabs"
                data-opt-tabs-collapsible="true"
                data-opt-tabs-active="false)
                ul
                    li
                        a(href='#collapsible-tabs-1') Collapsible  Tab 1
                    li
                        a(href='#collapsible-tabs-2') Collapsible Tab 2
                div#collapsible-tabs-1
                    p Tab 1 content
                div#collapsible-tabs-2
                    p Tab 2 content
            ```
            or
            ##### HTML
            ```xml
            <div data-hz-resource="HzTabs data-opt-tabs-collapsible="true" data-opt-tabs-active="false>
                <ul>
                    <li>
                        <a href="#collapsible-tabs-1">Tab 1</a>
                    </li>
                    <li>
                        <a href="#collapsible-tabs-2">Tab 2</a>
                    </li>
                </ul>
                <div id="collapsible-tabs-1">Collapsible Tab 1 content</div>
                <div id="collapsible-tabs-2">Collapsible Tab 2 content</div>
            </div>
            ```
        div(data-hz-resource="HzTabs"
            data-opt-tabs-collapsible="true"
            data-opt-tabs-active="false")
            ul
                li
                    a(href='#collapsible-tabs-1') Collapsible  Tab 1
                li
                    a(href='#collapsible-tabs-2') Collapsible Tab 2
            div#collapsible-tabs-1
                p Tab 1 content
            div#collapsible-tabs-2
                p Tab 2 content