/* Estilos de prueba. NO UTILIZAR en proyecto*/
/* Common */
@import "../../assets/styles/common/config";
@import "../../assets/styles/common/function";
@import "../../assets/styles/common/reset";
@import "../../assets/styles/common/colors";
/* End common */
/* Components */
body {
    width: 80%;
    margin: 0 auto;
    padding: 1em;
}
.hz-questionnaire{
    .hz-questionnaire__question{
        &.hz-questionnaire--incorrect{
            .hz-questionnaire__statement {
                color: red;
            }
        }
        &.hz-questionnaire--correct{
            .hz-questionnaire__statement{
                color:green;
            }
        }
    }
    .hz-questionnaire__option{
        &.hz-questionnaire--correct{
            color:green;
        }
        &.hz-questionnaire--selected{
            &.hz-questionnaire--incorrect{
                color:red;
            }
        }
    }
}
/* End components */